@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: sans-serif;
}

@media (max-width:640px){
    a.active{
        background-color: rgb(49, 45, 45);
        color:white
    }
}

::-webkit-scrollbar{
    display:none;
}